*{
    margin: 0;
    padding: 0;
}
#home{
    background: url('assets/img/header-bg.jpg')no-repeat center center;
    background-size: cover;
    height: 800px;
}
.text{
    text-align: center;
    padding: 350px 10px;
}
.font{
    font-size: 50px;
}
.text .btn{
    padding: 13px;
    width: 140px;
    height: 50px;

}
/* ---------------------------SERVICES---------------------------------------- */
.fa-solid{
    background: rgba(245, 185, 21, 0.932);
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.fa-laptop, .fa-cart-shopping, .fa-lock{
    text-align: center;
   padding: 48px 10px;
   font-size: 39px;
   color: white;
}
/* -------------------Portfolio------------------------ */
.hover:hover img{
    background-color: #eaa023;
}

/*-----------------------ABOUT TIMELINE----------------------------------*/
.timeline-section{
	background-color: #24292d;
	min-height: 100vh;
	padding: 100px 15px;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #2f363e;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(55% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(55% + 30px);
}
.timeline-dot{
	height: 100px;
	width: 100px;
    border: 2px solid black;
	background-color: #eaa023;
	position: absolute;
	left: calc(46% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-dot img{
    border-radius: 50%;
}


.timeline-date{
	font-size: 18px;
	color: #eaa023;
	margin:6px 0 15px;
}
.timeline-content{
     /* background-color: #2f363e;  */
	padding: 30px;
	border-radius: 5px;
}
.timeline-content h3{
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

/* responsive */
@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	
    
}


/* ---------------------------TEAM-------------------------------- */
.team{
    background: rgb(248, 249, 250);
    height: 130vh;
}
.image img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    position: relative;
    left: 100px;
 
    
   
} 
.icon{
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 50%;
    margin: auto;;
}
.icon .fa-brands{
    display: flex;
    color: white;
    background:black;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
/* --------------------------SVG-------------------- */
.svg{
    width: 50%;
   
}
.contact{
   background-color: rgb(29, 27, 27);
   background-image: url("assets/img/map-image.png");
   height: 80vh;
   /* background-repeat: no-repeat;
   background-position: center; */
}

input{
    height: 53px;
}
.placeholder{
    color: brown;
}
